<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Repacked Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background: #141e30;
        background: -webkit-linear-gradient(to right, #243b55, #141e30);
        background: linear-gradient(to right, #243b55, #141e30);
      }
    </style>
    <%= htmlWebpackPlugin
    .tags
    .headTags
    .filter((tag) => tag.attributes.src.indexOf("remote") === -1)
    .join('')
  %>
  </head>
  <body>
    <div id="root"></div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
